.light {
  background-color: hsl(0deg, 0%, 98%);
}

.dark {
  background-color: hsl(207deg, 26%, 17%);
}
.dark * {
  color: hsl(0deg, 0%, 98%) !important;
}
.dark .Header_header__NLhag {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .SearchBox_search_container__dCsFr {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .SearchBox_search_container__dCsFr .SearchBox_search_icon__JXSqw {
  fill: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::-moz-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU :-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU :-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ .Dropdown_dropdown_label_text__F9gw4 {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ .Dropdown_dropdown_label_icon__Z_E9d {
  fill: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .DropdownItems_dropdown_list__sR_R1 {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .DropdownItems_dropdown_list__sR_R1 .DropdownItems_dropdown_list_item {
  color: hsl(0deg, 0%, 88%);
}
.dark .CountryCard_country_card__4CL3i {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .CountryCard_country_card__4CL3i .CountryCard_country_card_field__9DFgc {
  color: #c7c7c7;
}
.dark .BackButton_back_button__X3_nF,
.dark .BorderCountries_border_country_button___JkiS {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Country_country_flag__KEwFp {
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}

.country_card {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 2px 5px hsl(0deg, 0%, 88%);
  cursor: pointer;
  height: 380px;
  line-height: 20px;
  max-width: 350px;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}
@media screen and (max-width: 520px) {
  .country_card {
    height: 350px;
    margin: auto;
  }
}

.country_card_flag {
  height: 200px;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.country_card_field {
  color: #3d4b52;
  padding: 4px 20px;
}

.country_card_country_name {
  font-size: 18px;
  font-weight: 700;
  padding: 26px 20px 10px;
}

.country_card_field_heading {
  font-weight: 700;
}/*# sourceMappingURL=CountryCard.module.css.map */