$black: hsl(200, 15%, 8%);
$darkBlue: hsl(209, 23%, 22%);
$faded-black: hsl(218, 12%, 13%);
$veryDarkBlue: hsl(207, 26%, 17%);
$white-100: hsl(0, 0%, 100%);
$white-52: hsl(0, 0%, 52%);
$white-88: hsl(0, 0%, 88%);
$white-98: hsl(0, 0%, 98%);
