@use '../shared/themes';
@use '../shared/variables';

.country {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}

.country_flag {
  border-radius: 4px;
  box-shadow: 0 2px 5px themes.$shadow;
  height: 100%;
  margin: auto;
  max-width: 650px;
  object-fit: cover;
  width: 100%;
}
