.light {
  background-color: hsl(0deg, 0%, 98%);
}

.dark {
  background-color: hsl(207deg, 26%, 17%);
}
.dark * {
  color: hsl(0deg, 0%, 98%) !important;
}
.dark .Header_header__NLhag {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .SearchBox_search_container__dCsFr {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .SearchBox_search_container__dCsFr .SearchBox_search_icon__JXSqw {
  fill: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::-moz-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU :-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU :-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU ::-ms-input-placeholder {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ .Dropdown_dropdown_label_text__F9gw4 {
  color: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .Dropdown_dropdown_label__IZPZJ .Dropdown_dropdown_label_icon__Z_E9d {
  fill: hsl(0deg, 0%, 88%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .DropdownItems_dropdown_list__sR_R1 {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Filters_filtering_container__NXaSU .Dropdown_dropdown__rgCKo .DropdownItems_dropdown_list__sR_R1 .DropdownItems_dropdown_list_item {
  color: hsl(0deg, 0%, 88%);
}
.dark .CountryCard_country_card__4CL3i {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .CountryCard_country_card__4CL3i .CountryCard_country_card_field__9DFgc {
  color: #c7c7c7;
}
.dark .BackButton_back_button__X3_nF,
.dark .BorderCountries_border_country_button___JkiS {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}
.dark .Country_country_flag__KEwFp {
  box-shadow: 0 2px 5px hsl(218deg, 12%, 13%);
}

.search_container {
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 2px 5px hsl(0deg, 0%, 88%);
  display: flex;
  padding: 14px 20px;
  width: 440px;
}
@media screen and (max-width: 800px) {
  .search_container {
    max-width: 700px;
    padding: 18px 20px;
    width: 100%;
  }
}

.search_icon {
  color: hsl(0deg, 0%, 52%);
  fill: hsl(0deg, 0%, 52%);
  font-size: 20px;
  margin-bottom: 2px;
  min-width: 20px;
}
@media screen and (max-width: 800px) {
  .search_icon {
    font-size: 14px;
  }
}

.search_input {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0 8px;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .search_input {
    font-size: 14px;
  }
}

.search_input::-moz-placeholder {
  color: hsl(0deg, 0%, 52%);
  opacity: 1;
}

.search_input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 52%);
  opacity: 1;
}

.search_input::placeholder {
  color: hsl(0deg, 0%, 52%);
  opacity: 1;
}/*# sourceMappingURL=SearchBox.module.css.map */